.clock {
  position: relative;
  bottom: 180px;
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000000;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(248, 234, 234);
  border: 1px solid rgb(255, 241, 241);
  z-index: 100000;
  border-radius: 50%;
  opacity: 0.85;
}

.hour,
.min,
.sec {
  position: absolute;
}

.hour,
.hr {
  width: 220px;
  height: 200px;
}

.min,
.mn {
  width: 280px;
  height: 280px;
}

.sec,
.sc {
  width: 280px;
  height: 280px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 130px;
  background-color: white;
  z-index: 10;
  border-radius: 3px 3px 2px 2px;
  opacity: 0.9;
}

.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 190px;
  background-color: white;
  z-index: 11;
  border-radius: 3px 3px 2px 2px;
  opacity: 0.9;
}

.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 190px;
  background-color: white;
  z-index: 12;
  border-radius: 3px 3px 2px 2px;
  opacity: 0.9;
}

.analogTog {
  display: none;
}
