* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: thistle;
}

.region {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
}
.region-3 {
  height: 0;
}
/* r3 */
/* r4 */

.region-4 {
  height: 200px;
  flex-direction: column;
}
/* r4__prv */
.prv-wrapper {
}
.prv-wrapper__right {
}
.prv-wrapper__left {
}

.dDay {
  color: white;
  font-size: 110px;
}
.format {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}
.format-container {
  background-color: violet;
}

.format-wrapper {
  display: flex;
}
